// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #2e86de;
$indigo: #341f97;
$purple: #5f27cd;
$pink: #ff9ff3;
$red: #ee5253;
$orange: #ff9f43;
$yellow: #feca57;
$green: #1dd1a1;
$teal: #00d2d3;
$cyan: #48dbfb;
